@use '../../scss/variables' as *;

.home {
    display: flex;
    flex-direction: column;
    padding: $top-header-spacing $spacing-xlarge;
    gap: $spacing-base;
}

.home_carousel {
    display: flex;
    flex-direction: column;
    gap: $spacing-base;
}

@media (max-width: $breakpoint-small) {
    .home {
        gap: $spacing-small;
    }
}