@use 'variables.scss' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    overflow-x: hidden;

    @media (max-width: $breakpoint-small) {
        font-size: $font-size-base * 0.8;
    }
}

body {
    background-color: $background-color;
    color: $primary-color;
    font-family: $font-family;
    line-height: $line-height-base;
    overflow-x: hidden;
}

h3 {
    font-size: $font-size-base;
    font-weight: 600;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: $primary-color;
}