@import './_variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    overflow-x: hidden;

    @media (max-width: $breakpoint-small) {
        font-size: $font-size-base * 0.8;
    }
}

body {
    background-color: $background-color;
    color: $primary-color;
    font-family: $font-family;
    line-height: $line-height-base;
    overflow-x: hidden;
}

h3 {
    font-size: $font-size-base;
    font-weight: 600;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: $primary-color;
}

.layout-wrapper {
    min-height: 100vh;
    width: 100%;
}

.main-content {
    padding: $spacing-base;
    margin-top: $top-header-spacing;
    
    @media (max-width: $breakpoint-small) {
        padding: $spacing-small;
    }
}